@font-face {
  font-family: "conthrax-sb" ;
  src: url(conthrax-sb.ttf) ;
}
.logo{
  font-family: conthrax-sb;
  font-size: 36px;
  height: 41px ;
}
@media (min-width : 992px) {
  .logo{
    position: relative;
    top: 45px;
  }
  .arrows{
    position: relative;
    left: -30px;
    z-index: -1 ;
  }
}
@media (min-width : 374px) and (max-width : 991px){
  .logo{
    position: relative;
    top: 34px;
  }
  .arrows{
    position: relative;
    left: -28px;
    z-index: -1 ;
  }
}
@media (max-width : 374px) {
  .logo{
    position: relative;
    top: 25px;
  }
  .arrows{
    position: relative;
    left: -24px;
    z-index: -1 ;
  }
}
#machine{
  height: 31px ;
}
.left{
  text-align: left ;
}
.right{
  text-align: right ;
}
.centered{
  text-align: center;
}
